.text-primary {
    color: #01559a !important;
}
#chart-salary-distribution {
    height: 420px;
}
[id*='chart-'] .c3-legend-item {
    font-size: 0.875rem;
}
[id*='chart-'] .c3 svg {
    font-size: 1rem;
}
