@import "_mixin";
@import "_variable";
@import "_common";
@import "_container";
@import "_typography";
@import "_color";
@import "_font";
@import "_button";
@import "_navigation";
@import "_footer";

.side-fixed {
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    .icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $h3 * 2;
        height: $h3 * 2;
        color: $black;
        background-color: $white;
        border-radius: 50%;
        border: 1px solid $gray-200;
        cursor: pointer;
        &:hover {
            color: $primary;
            border-color: $primary;
        }
        + .icon {
            margin-top: 10px;
        }
        span.number {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 5px;
            right: 5px;
            width: 1rem;
            height: 1rem;
            color: $white;
            font-size: 0.75rem;
            font-weight: bold;
            background-color: $red-default;
            border-radius: 50%;
            transform: scale(0.9);
        }
    }
}

.jumbotron {
    .img {
        height: 420px;
        background-image: url('../images/photo-1552848469-b4c949fdded7@2x.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    h1 {
        position: absolute;
        bottom: $h5*3;
        left: $h5*4.5;
    }
}

.compare-table {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    table {
        width: 730px;
        color: $gray-400;
        tr {
            border-bottom: 1px solid $gray-300;
        }
        th, td {
            padding-top: $init*12;
            padding-bottom: $init*12;
            padding-left: 30px;
        }
        th {
            font-size: $h4;
            @include typo-weight;
            &:nth-child(2) {
                color: $black;
            }
        }
        td {
            font-size: 0;
            &:first-child {
                padding-left: 0;
                padding-right: 20px;
                color: $black;
                font-size: $h4;
            }
            span {
                font-size: $h5;
                &.material-icons {
                    font-size: $h5*2;
                }
            }
        }
    }
}

.recommend-group-scroll {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
.recommend-group {
    width: 380px*5+95px;
    flex-wrap: wrap;
    .recommend-item {
        width: 380px;
        line-height: 1.25;
        &:first-child {
            margin-left: 95px;
        }
        .item-image {
            position: relative;
            width: 95px;
            &::before {
                @include beforeafter('', block);
                padding-top: 100%;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .item-text {
            width: calc(100% - 95px);
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
        }
        .user {
            flex-wrap: wrap;
            align-items: center;
            .user-image {
                img {
                    width: 40px;
                }
            }
        }
    }
}

.step {
    @include list(0, 0, none);
    width: 100%;
    max-width: 825px;
    flex-wrap: wrap;
    li {
        position: relative;
        width: 100%;
        @media screen and (min-width: 768px) {
            width: 25%;
        }
        + li {
            &::before {
                display: block;
                font-family: 'Material Icons';
                font-size: $h5 * 2.5;
                line-height: 1;
                @media screen and (max-width: 767px) {
                    content: '\e5c5';
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                @media screen and (min-width: 768px) {
                    position: absolute;
                    content: '\e5df';
                    top: (115px/2);
                    right: 100%;
                    transform: translate(50%, -50%);
                }
            }
        }
        .step-icon {
            width: 115px;
            height: 115px;
            border: 3px solid $black;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            .material-icons {
                font-size: $h5 * 3.5;
            }
        }
    }
}

.product-select {
    width: 100%;
    max-width: 255px;
    padding: 8px 12px;
    color: $gray-350;
    border-color: $gray-200;
    border-radius: 4px;
}
.product-group {
    .product-item {
        position: relative;
        line-height: 1.25;
        .item-img {
            position: relative;
            &::before {
                @include beforeafter('', block);
                width: 100%;
                padding-top: 118.431372549019608%;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .label {
            position: absolute;
            top: 12px;
            right: 11px; // 15-4
            padding: 0.5em 1.2em;
        }
        button {
            width: 100%;
            padding: 0.6em 0;
            color: $white;
            background-color: $black;
            border: 0;
            &:hover {
                background-color: $primary-variant;
            }
        }
        .price-origin {
            text-decoration: line-through;
        }
    }
}

.card-group {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    table {
        width: 100%;
        min-width: 683px;
        tr + tr {
            border-bottom: 1px solid $gray-300;
        }
        th {
            font-weight: normal;
            &:nth-child(2) {
                @media screen and (max-width: 767px) {
                    padding-left: 20px;
                    padding-right: 20px;
                }
                @media screen and (min-width: 768px) {
                    padding-left: 15px;
                }
            }
            &:nth-child(3) {
                padding-left: 20px;
                padding-right: 20px;
                @media screen and (min-width: 768px) {
                    padding-right: 0;
                }
                @media screen and (min-width: 1440px) {
                    padding-left: 30px;
                }
            }
            &:nth-child(4) {
                padding-left: 20px;
                padding-right: 20px;
                @media screen and (min-width: 768px) {
                    padding-left: 50px;
                    padding-right: 50px;
                }
                @media screen and (min-width: 850px) {
                    padding-left: 70px;
                    padding-right: 70px;
                }
                @media screen and (min-width: 1440px) {
                    padding-left: 90px;
                    padding-right: 90px;
                }
            }
            &:nth-child(5) {
                padding-left: 20px;
                padding-right: 20px;
                @media screen and (min-width: 768px) {
                    padding-left: 20px;
                    padding-right: 50px;
                }
                @media screen and (min-width: 850px) {
                    padding-left: 40px;
                    padding-right: 70px;
                }
                @media screen and (min-width: 1440px) {
                    padding-left: 60px;
                    padding-right: 90px;
                }
            }
        }
        td {
            padding-top: 20px;
            padding-bottom: 20px;
            &:first-child {
                width: 80px;
                img {
                    width: 100%;
                }
            }
            &:nth-child(2) {
                @media screen and (max-width: 767px) {
                    width: 190px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
                @media screen and (min-width: 768px) {
                    width: 175px;
                    padding-left: 15px;
                }
            }
            &:nth-child(3) {
                width: 120px;
                padding-left: 20px;
                padding-right: 20px;
                @media screen and (min-width: 768px) {
                    padding-right: 0;
                }
                @media screen and (min-width: 1440px) {
                    width: 130px;
                    padding-left: 30px;
                }
            }
            &:nth-child(4) {
                @media screen and (max-width: 767px) {
                    width: 80px;
                    padding-left: 20px;
                    padding-right: 20px;
                    text-align: center;
                }
                @media screen and (min-width: 768px) {
                    padding-left: 50px;
                    padding-right: 50px;
                }
                @media screen and (min-width: 850px) {
                    width: 180px;
                    padding-left: 70px;
                    padding-right: 70px;
                }
                @media screen and (min-width: 1440px) {
                    width: 220px;
                    padding-left: 90px;
                    padding-right: 90px;
                }
            }
            &:nth-child(5) {
                width: 140px;
                padding-left: 20px;
                padding-right: 20px;
                @media screen and (min-width: 768px) {
                    width: 170px;
                    padding-left: 20px;
                    padding-right: 50px;
                }
                @media screen and (min-width: 850px) {
                    width: 210px;
                    padding-left: 40px;
                    padding-right: 70px;
                }
                @media screen and (min-width: 1440px) {
                    width: 250px;
                    padding-left: 60px;
                    padding-right: 90px;
                }
            }
            &:nth-child(6) {
                text-align: center;
                span {
                    padding: 10px;
                    cursor: pointer;
                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }
}
.btn-clearCart {
    display: table;
    padding: 10px 20px;
    line-height: 1.125;
    border-radius: 4px;
    background-color: $white;
    border: 1px solid $black;
    &:hover {
        color: $white;
        background-color: $black;
    }
}
.total-amount {
    span {
        vertical-align: middle;
    }
}

.form-group {
    &.was-validated :invalid {
        border: 1px solid $weibo;
        ~ .invalid-feedback {
            display: block;
        }
    }
    .form-item {
        position: relative;
        + .form-item {
            margin-top: 20px;
        }
        p {
            display: none;
            @media screen and (min-width: 768px) {
                position: absolute;
                bottom: 0;
                left: 100%;
                white-space: nowrap;
                transform: translateY(-30%);
            }
        }
    }
    label {
        padding-bottom: 0.375em;
        font-size: 1rem;
    }
    input {
        font-size: 1rem;
    }
    input[type='text'],
    input[type='tel'],
    input[type='email'],
    select {
        width: 100%;
        padding: 0.5em 0.75em;
        background-color: $white;
        border: 1px solid $gray-200;
        border-radius: 4px;
    }
    button {
        display: block;
        width: 75%;
        padding: 0.5em;
        color: $white;
        font-size: $h4;
        background-color: $black;
        border: 0;
        border-radius: 4px;
        &:hover {
            background-color: $primary-variant;
        }
    }
}
